CREATE DATABASE [BanXeMay]

USE [BanXeMay]
GO
/****** Object:  DatabaseRole [KHACHHANG]    Script Date: 6/1/2023 03:18:24 ******/
CREATE ROLE [KHACHHANG]
GO
/****** Object:  DatabaseRole [NHANVIEN]    Script Date: 6/1/2023 03:18:24 ******/
CREATE ROLE [NHANVIEN]
GO
ALTER ROLE [db_owner] ADD MEMBER [NHANVIEN]
GO
/****** Object:  Table [dbo].[CT_DonDatHang]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DonDatHang](
	[MaDonDatHang] [nvarchar](20) NOT NULL,
	[MaXeMay] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
 CONSTRAINT [PK_CT_DonDatHang] PRIMARY KEY CLUSTERED 
(
	[MaDonDatHang] ASC,
	[MaXeMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDonDatHang] [nvarchar](20) NOT NULL,
	[NgayDatHang] [date] NULL,
	[MaNhanVien] [int] NOT NULL,
	[MaNhaCungCap] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__DonDatHa__17C939D1E419820C] PRIMARY KEY CLUSTERED 
(
	[MaDonDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XeMay]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XeMay](
	[MaXeMay] [nvarchar](10) NOT NULL,
	[TenXeMay] [nvarchar](50) NOT NULL,
	[Gia] [money] NOT NULL,
	[SoLuongTon] [int] NULL,
	[MoTa] [nvarchar](128) NULL,
	[HinhAnh] [nvarchar](128) NOT NULL,
	[MaTrangThai] [nvarchar](5) NOT NULL,
	[MaLoai] [nvarchar](10) NOT NULL,
	[MaHang] [nvarchar](10) NOT NULL,
	[MaNhaCungCap] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__XeMay__1EF57D74D30663DB] PRIMARY KEY CLUSTERED 
(
	[MaXeMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_XEMAY_NCC]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GET_XEMAY_NCC](@MADONDATHANG NVARCHAR(20)) RETURNS TABLE AS
RETURN 
(
	SELECT MaXeMay, TenXeMay = MaXeMay + ' - ' + TenXeMay 
	FROM XeMay 
	WHERE 
		MaNhaCungCap = (SELECT MaNhaCungCap FROM DonDatHang WHERE MaDonDatHang = @MADONDATHANG) AND -- MÃ NCC GIỐNG VỚI CỦA ĐƠN ĐẶT HÀNG
		MaXeMay NOT IN (SELECT MaXeMay FROM CT_DonDatHang WHERE MaDonDatHang = @MADONDATHANG) -- LOẠI NHỮNG ĐỒNG HỒ ĐÃ CÓ TRONG CT ĐƠN ĐẶT KHÁC
);
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_XEMAY_TRONG_DONDAT]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GET_XEMAY_TRONG_DONDAT](@MADONDATHANG NVARCHAR(20)) RETURNS TABLE AS
RETURN
(
	SELECT CT_DonDatHang.MaXeMay, TenXeMay = XeMay.MaXeMay + ' - ' + XeMay.TenXeMay 
	FROM CT_DonDatHang
	INNER JOIN XeMay
	ON CT_DonDatHang.MaXeMay = XeMay.MaXeMay
	WHERE MaDonDatHang = @MADONDATHANG
)
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](40) NOT NULL,
	[Ten] [nvarchar](10) NOT NULL,
	[GioiTinh] [nvarchar](3) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](128) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](128) NOT NULL,
	[TaiKhoan] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__NhanVien__77B2CA470E0E85C7] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_GET_NHANVIEN]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_GET_NHANVIEN] AS
SELECT *
FROM NhanVien
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [nvarchar](20) NOT NULL,
	[NgayNhap] [date] NULL,
	[MaNhanVien] [int] NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_GET_PHIEUNHAP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_GET_PHIEUNHAP] 
AS
SELECT MaPhieuNhap, NgayNhap, MaNhanVien
FROM PhieuNhap
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_BACKUP_HISTORY]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GET_BACKUP_HISTORY] ()
RETURNS TABLE
AS
RETURN
( 
	SELECT bs.database_name, BackupBatDau = bs.backup_start_date, BackupXong = bs.backup_finish_date, Loai = IIF(bs.type = 'D', 'Full', IIF(bs.type = 'I', 'Differential', 'Transaction Log'))
	FROM msdb.dbo.backupset AS bs
	WHERE bs.database_name = 'BanXeMay'
)
GO
/****** Object:  Table [dbo].[ApDungKM]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApDungKM](
	[MaDotKM] [nvarchar](10) NOT NULL,
	[MaXeMay] [nvarchar](10) NOT NULL,
	[TyLeKM] [float] NOT NULL,
 CONSTRAINT [PK_ApDungKM] PRIMARY KEY CLUSTERED 
(
	[MaDotKM] ASC,
	[MaXeMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BaoHanh]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BaoHanh](
	[MaPhieuBaoHanh] [int] NOT NULL,
	[MaNhanVienNhan] [int] NOT NULL,
	[MaNhanVienTra] [int] NOT NULL,
	[NgayBH] [date] NOT NULL,
	[TrangThaiTruocBH] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_CT_BaoHanh] PRIMARY KEY CLUSTERED 
(
	[MaPhieuBaoHanh] ASC,
	[MaNhanVienNhan] ASC,
	[MaNhanVienTra] ASC,
	[NgayBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuDat]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuDat](
	[MaCT_PhieuDat] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuDat] [int] NOT NULL,
	[MaXeMay] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [PK_CT_PhieuDat] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC,
	[MaXeMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuNhap]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuNhap](
	[MaPhieuNhap] [nvarchar](20) NOT NULL,
	[MaXeMay] [nvarchar](10) NOT NULL,
	[DonGia] [money] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_CT_PhieuNhap_1] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaXeMay] ASC,
	[DonGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuTra]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuTra](
	[MaPhieuTra] [int] NOT NULL,
	[MaCT_PhieuDat] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[LyDo] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_CT_PhieuTra] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTra] ASC,
	[MaCT_PhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiGia]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiGia](
	[MaNhanVien] [int] NOT NULL,
	[MaXeMay] [nvarchar](10) NOT NULL,
	[NgayDoi] [date] NOT NULL,
	[Gia] [money] NOT NULL,
 CONSTRAINT [PK_DoiGia] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC,
	[MaXeMay] ASC,
	[NgayDoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DotKhuyenMai]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DotKhuyenMai](
	[MaDotKM] [nvarchar](10) NOT NULL,
	[LyDoKM] [nvarchar](128) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
 CONSTRAINT [PK__DotKhuye__C3162DCF809625E3] PRIMARY KEY CLUSTERED 
(
	[MaDotKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangXeMay]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangXeMay](
	[MaHang] [nvarchar](10) NOT NULL,
	[TenHang] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[SoHoaDon] [int] NULL,
	[NgayInHoaDon] [date] NULL,
	[TongTien] [money] NULL,
	[MaSoThue] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[CMND] [nvarchar](10) NOT NULL,
	[Ho] [nvarchar](40) NOT NULL,
	[Ten] [nvarchar](10) NOT NULL,
	[GioiTinh] [nvarchar](3) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](128) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](128) NULL,
	[MaSoThue] [nvarchar](20) NULL,
	[TaiKhoan] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__KhachHan__88D2F0E51DA14ADD] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiXeMay]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXeMay](
	[MaLoai] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [nvarchar](10) NOT NULL,
	[TenNhaCungCap] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](128) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuBaoHanh]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuBaoHanh](
	[MaPhieuBaoHanh] [int] NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDat]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDat](
	[MaPhieuDat] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [date] NULL,
	[HoTenNN] [nvarchar](50) NOT NULL,
	[DiaChiNN] [nvarchar](128) NOT NULL,
	[SDTNN] [nvarchar](10) NOT NULL,
	[NgayGioGiaoHang] [date] NULL,
	[TrangThai] [nvarchar](10) NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
 CONSTRAINT [PK__PhieuDat__01EA0D2B86B5B4DE] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuTra]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTra](
	[MaPhieuTra] [int] IDENTITY(1,1) NOT NULL,
	[NgayTra] [date] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
 CONSTRAINT [PK__PhieuTra__1D880A46B2F8E303] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[Nhom] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThai]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThai](
	[MaTrangThai] [nvarchar](5) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TrangThai] PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- Insert into HangXeMay
INSERT [dbo].[HangXeMay] ([MaHang], [TenHang]) VALUES (N'CA', N'Culumbia Motobyte')
INSERT [dbo].[HangXeMay] ([MaHang], [TenHang]) VALUES (N'TAHE', N'HEUER Germany')
INSERT [dbo].[HangXeMay] ([MaHang], [TenHang]) VALUES (N'PAPH', N'PORD Philippe')

GO

-- Insert into LoaiXeMay
INSERT [dbo].[LoaiXeMay] ([MaLoai], [TenLoai]) VALUES (N'CO', N'Xe máy cơ')
INSERT [dbo].[LoaiXeMay] ([MaLoai], [TenLoai]) VALUES (N'TE', N'Xe máy đồ chơi')
INSERT [dbo].[LoaiXeMay] ([MaLoai], [TenLoai]) VALUES (N'SM', N'Xe máy thông minh')

GO

-- Insert into NhaCungCap
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [Email], [SDT]) VALUES (N'NTT1', N'Yamaha Việt Nam', N'Bình Dương', N'yamahavn@gmail.com', N'000')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [Email], [SDT]) VALUES (N'NTT2', N'ViNaXuKi', N'Hà Nội', N'vinaxuki@gmail.com', N'111')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [Email], [SDT]) VALUES (N'NTT3', N'Honda', N'Hà Nội', N'Honda@gmail.com', N'333')

GO

-- Insert into KhachHang
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [CMND], [Ho], [Ten], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email], [MaSoThue], [TaiKhoan]) VALUES (1, N'1236532651', N'Nguyễn Thành', N'Tân', N'Nam', CAST(N'2001-01-01' AS Date), N'Bình Dương', N'0111111111', N'abc', N'1231231231', N'ntt2')
INSERT [dbo].[KhachHang] ([MaKhachHang], [CMND], [Ho], [Ten], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email], [MaSoThue], [TaiKhoan]) VALUES (2, N'8756352851', N'Nguyễn', N'A', N'Nam', CAST(N'2022-06-06' AS Date), N'Tp HCM', N'0222222222', NULL, NULL, N'ntt10')
INSERT [dbo].[KhachHang] ([MaKhachHang], [CMND], [Ho], [Ten], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email], [MaSoThue], [TaiKhoan]) VALUES (3, N'1345678902', N'Nguyễn Thành', N'Phú', N'Nam', CAST(N'2001-01-01' AS Date), N'Hồ Chí Minh', N'0333333333', N'abc', N'1231231231', N'ThanhPhu')

SET IDENTITY_INSERT [dbo].[KhachHang] OFF

GO

-- Insert into NhanVien
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [Ho], [Ten], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email], [TaiKhoan]) VALUES (4, N'Huỳnh', N'Trọng', N'Nam', CAST(N'2001-01-01' AS Date), N'Hà Nội', N'097341258', N'trong@gmail.com', N'ntt')
INSERT [dbo].[NhanVien] ([MaNhanVien], [Ho], [Ten], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email], [TaiKhoan]) VALUES (22, N'Huỳnh Tiến', N'Trọng', N'Nam', CAST(N'2005-12-20' AS Date), N'Hà Nội', N'0192347493', N'tronghello@gmail.com', N'TienTrong')

SET IDENTITY_INSERT [dbo].[NhanVien] OFF
DELETE FROM [NhanVien]
GO

-- Insert into DonDatHang
INSERT [dbo].[DonDatHang] ([MaDonDatHang], [NgayDatHang], [MaNhanVien], [MaNhaCungCap]) VALUES (N'DH20220530082832', CAST(N'2022-05-30' AS Date), 4, N'NTT3')
INSERT [dbo].[DonDatHang] ([MaDonDatHang], [NgayDatHang], [MaNhanVien], [MaNhaCungCap]) VALUES (N'DH20220530083458', CAST(N'2022-05-30' AS Date), 4, N'NTT5')
INSERT [dbo].[DonDatHang] ([MaDonDatHang], [NgayDatHang], [MaNhanVien], [MaNhaCungCap]) VALUES (N'DH20220531034843', CAST(N'2022-05-31' AS Date), 4, N'NTT2')
DELETE FROM [DonDatHang]
GO

-- Insert into PhieuDat
SET IDENTITY_INSERT [dbo].[PhieuDat] ON 

INSERT [dbo].[PhieuDat] ([MaPhieuDat], [NgayDat], [HoTenNN], [DiaChiNN], [SDTNN], [NgayGioGiaoHang], [TrangThai], [MaKhachHang], [MaNhanVien]) VALUES (1, CAST(N'2022-06-07' AS Date), N'Nguyễn Thành Tân', N'Bình Dương', N'0111111111', NULL, N'DD', 1, 4)
INSERT [dbo].[PhieuDat] ([MaPhieuDat], [NgayDat], [HoTenNN], [DiaChiNN], [SDTNN], [NgayGioGiaoHang], [TrangThai], [MaKhachHang], [MaNhanVien]) VALUES (1002, CAST(N'2022-06-08' AS Date), N'Nguyễn Thành Tân', N'Bình Dương', N'0222222222', NULL, N'DD', 1, 4)
INSERT [dbo].[PhieuDat] ([MaPhieuDat], [NgayDat], [HoTenNN], [DiaChiNN], [SDTNN], [NgayGioGiaoHang], [TrangThai], [MaKhachHang], [MaNhanVien]) VALUES (1003, CAST(N'2022-06-09' AS Date), N'Nguyễn Thành Tân', N'Bình Dương', N'0111111111', NULL, N'DD', 1, 4)

SET IDENTITY_INSERT [dbo].[PhieuDat] OFF

GO

-- Insert into CT_PhieuDat
SET IDENTITY_INSERT [dbo].[CT_PhieuDat] ON 

INSERT [dbo].[CT_PhieuDat] ([MaCT_PhieuDat], [MaPhieuDat], [MaXeMay], [SoLuong], [DonGia]) VALUES (1, 1, N'DH001', 8, 16000000.0000)
INSERT [dbo].[CT_PhieuDat] ([MaCT_PhieuDat], [MaPhieuDat], [MaXeMay], [SoLuong], [DonGia]) VALUES (1002, 1002, N'DH005', 2, 20000000.0000)
INSERT [dbo].[CT_PhieuDat] ([MaCT_PhieuDat], [MaPhieuDat], [MaXeMay], [SoLuong], [DonGia]) VALUES (1003, 1003, N'DH005', 3, 30000000.0000)

SET IDENTITY_INSERT [dbo].[CT_PhieuDat] OFF
GO
-- Insert into CT_DonDatHang
INSERT [dbo].[CT_DonDatHang] ([MaDonDatHang], [MaXeMay], [SoLuong], [DonGia]) VALUES (N'DH20220530082832', N'DH001', 10, 2000000.0000)
INSERT [dbo].[CT_DonDatHang] ([MaDonDatHang], [MaXeMay], [SoLuong], [DonGia]) VALUES (N'DH20220530082832', N'DH003', 5, 3000000.0000)
INSERT [dbo].[CT_DonDatHang] ([MaDonDatHang], [MaXeMay], [SoLuong], [DonGia]) VALUES (N'DH20220530082832', N'DH005', 5, 5000000.0000)

GO

-- Insert into PhieuNhap
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [NgayNhap], [MaNhanVien]) VALUES (N'DH20220530082832', CAST(N'2022-06-02' AS Date), 4)
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [NgayNhap], [MaNhanVien]) VALUES (N'DH20220531034843', CAST(N'2022-06-01' AS Date), 4)
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [NgayNhap], [MaNhanVien]) VALUES (N'DH20220531034850', CAST(N'2022-06-01' AS Date), 4)
DELETE FROM [PhieuNhap]
GO

-- Insert into TaiKhoan
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [Nhom]) VALUES (N'TienTrong', N'123456', N'nhanvien')

GO

-- Thêm trạng thái
INSERT [dbo].[TrangThai] ([MaTrangThai], [TrangThai]) VALUES (N'CH', N'Còn hàng')
INSERT [dbo].[TrangThai] ([MaTrangThai], [TrangThai]) VALUES (N'NKD', N'Ngừng kinh doanh')
INSERT [dbo].[TrangThai] ([MaTrangThai], [TrangThai]) VALUES (N'THH', N'Tạm hết hàng')
GO

-- Thêm xe máy
INSERT [dbo].[XeMay] ([MaXeMay], [TenXeMay], [Gia], [SoLuongTon], [MoTa], [HinhAnh], [MaTrangThai], [MaLoai], [MaHang], [MaNhaCungCap]) VALUES (N'DH001', N'Xe máy no1', 2000000.0000, 0, N'Xe máy số 1', N'xemay1.jpg', N'THH', N'SM', N'CA', N'NTT1')
INSERT [dbo].[XeMay] ([MaXeMay], [TenXeMay], [Gia], [SoLuongTon], [MoTa], [HinhAnh], [MaTrangThai], [MaLoai], [MaHang], [MaNhaCungCap]) VALUES (N'DH002', N'Xe máy no2', 1000000.0000, 0, N'Xe máy no2', N'xemay2.jpg', N'NKD', N'TE', N'RO', N'NTT2')
INSERT [dbo].[XeMay] ([MaXeMay], [TenXeMay], [Gia], [SoLuongTon], [MoTa], [HinhAnh], [MaTrangThai], [MaLoai], [MaHang], [MaNhaCungCap]) VALUES (N'DH003', N'Xe máy no3', 1000000.0000, 0, N'Xe máy no1', N'xemay3.jpg', N'THH', N'CO', N'PAPH', N'NTT1')
GO

DELETE FROM [XeMay]
/****** Object:  Index [UQ__CT_Phieu__1B18121E44D01AE4]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[CT_PhieuDat] ADD UNIQUE NONCLUSTERED 
(
	[MaCT_PhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HangXeMa__E6C9BFA8C2A10124]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[HangXeMay] ADD UNIQUE NONCLUSTERED 
(
	[TenHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__HoaDon__012E9E5364CE3789]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[SoHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__CA1930A56F4C2009]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ__KhachHan__CA1930A56F4C2009] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__F67C8D0B4F8B2E9D]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ__KhachHan__F67C8D0B4F8B2E9D] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiXeMa__E29B1042BEE5B0AE]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[LoaiXeMay] ADD UNIQUE NONCLUSTERED 
(
	[TenLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhaCungC__A9D105347CAC2351]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[NhaCungCap] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhaCungC__C6818DB2085B5CD7]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[NhaCungCap] ADD UNIQUE NONCLUSTERED 
(
	[TenNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhaCungC__CA1930A514240564]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[NhaCungCap] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_NhanVien_TaiKhoan]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UK_NhanVien_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__A9D1053467250B56]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ__NhanVien__A9D1053467250B56] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__CA1930A5E6105426]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ__NhanVien__CA1930A5E6105426] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PhieuBao__340E9DBB39FE5BA7]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[PhieuBaoHanh] ADD UNIQUE NONCLUSTERED 
(
	[MaPhieuBaoHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuNha__1470EF3A60C43909]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [UQ__PhieuNha__1470EF3A60C43909] UNIQUE NONCLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TrangThai]    Script Date: 6/1/2023 03:18:24 ******/
ALTER TABLE [dbo].[TrangThai] ADD  CONSTRAINT [UK_TrangThai] UNIQUE NONCLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_BaoHanh] ADD  CONSTRAINT [DF__CT_BaoHan__NgayB__19DFD96B]  DEFAULT (getdate()) FOR [NgayBH]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  CONSTRAINT [DF__DonDatHan__NgayD__35BCFE0A]  DEFAULT (getdate()) FOR [NgayDatHang]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayInHoaDon]
GO
ALTER TABLE [dbo].[PhieuBaoHanh] ADD  DEFAULT (getdate()) FOR [NgayBatDau]
GO
ALTER TABLE [dbo].[PhieuDat] ADD  CONSTRAINT [DF__PhieuDat__NgayDa__71D1E811]  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[PhieuDat] ADD  CONSTRAINT [DF__PhieuDat__TrangT__72C60C4A]  DEFAULT ('CD') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF__PhieuNhap__NgayN__5DCAEF64]  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[XeMay] ADD  CONSTRAINT [DF__XeMay__SoLuongT__29572725]  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[XeMay] ADD  CONSTRAINT [DF__XeMay__TrangTha__2B3F6F97]  DEFAULT ('THH') FOR [MaTrangThai]
GO
ALTER TABLE [dbo].[ApDungKM]  WITH CHECK ADD  CONSTRAINT [FK__ApDungKM__MaDong__208CD6FA] FOREIGN KEY([MaXeMay])
REFERENCES [dbo].[XeMay] ([MaXeMay])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ApDungKM] CHECK CONSTRAINT [FK__ApDungKM__MaDong__208CD6FA]
GO
ALTER TABLE [dbo].[ApDungKM]  WITH CHECK ADD  CONSTRAINT [FK__ApDungKM__MaDotK__1F98B2C1] FOREIGN KEY([MaDotKM])
REFERENCES [dbo].[DotKhuyenMai] ([MaDotKM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ApDungKM] CHECK CONSTRAINT [FK__ApDungKM__MaDotK__1F98B2C1]
GO
ALTER TABLE [dbo].[CT_BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK__CT_BaoHan__MaNha__17F790F9] FOREIGN KEY([MaNhanVienNhan])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_BaoHanh] CHECK CONSTRAINT [FK__CT_BaoHan__MaNha__17F790F9]
GO
ALTER TABLE [dbo].[CT_BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK__CT_BaoHan__MaNha__18EBB532] FOREIGN KEY([MaNhanVienTra])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[CT_BaoHanh] CHECK CONSTRAINT [FK__CT_BaoHan__MaNha__18EBB532]
GO
ALTER TABLE [dbo].[CT_BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK__CT_BaoHan__MaPhi__17036CC0] FOREIGN KEY([MaPhieuBaoHanh])
REFERENCES [dbo].[PhieuBaoHanh] ([MaPhieuBaoHanh])
GO
ALTER TABLE [dbo].[CT_BaoHanh] CHECK CONSTRAINT [FK__CT_BaoHan__MaPhi__17036CC0]
GO
ALTER TABLE [dbo].[CT_DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK__CT_DonDat__MaDon__3E52440B] FOREIGN KEY([MaDonDatHang])
REFERENCES [dbo].[DonDatHang] ([MaDonDatHang])
GO
ALTER TABLE [dbo].[CT_DonDatHang] CHECK CONSTRAINT [FK__CT_DonDat__MaDon__3E52440B]
GO
ALTER TABLE [dbo].[CT_DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK__CT_DonDat__MaDon__3F466844] FOREIGN KEY([MaXeMay])
REFERENCES [dbo].[XeMay] ([MaXeMay])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DonDatHang] CHECK CONSTRAINT [FK__CT_DonDat__MaDon__3F466844]
GO
ALTER TABLE [dbo].[CT_PhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuDat_MaPhieuDat] FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[PhieuDat] ([MaPhieuDat])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PhieuDat] CHECK CONSTRAINT [FK_CT_PhieuDat_MaPhieuDat]
GO
ALTER TABLE [dbo].[CT_PhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuDat_MaXeMay] FOREIGN KEY([MaXeMay])
REFERENCES [dbo].[XeMay] ([MaXeMay])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PhieuDat] CHECK CONSTRAINT [FK_CT_PhieuDat_MaXeMay]
GO
ALTER TABLE [dbo].[CT_PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PhieuNhap] CHECK CONSTRAINT [FK_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CT_PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_XEMAY] FOREIGN KEY([MaXeMay])
REFERENCES [dbo].[XeMay] ([MaXeMay])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PhieuNhap] CHECK CONSTRAINT [FK_XEMAY]
GO
ALTER TABLE [dbo].[CT_PhieuTra]  WITH CHECK ADD FOREIGN KEY([MaCT_PhieuDat])
REFERENCES [dbo].[CT_PhieuDat] ([MaCT_PhieuDat])
GO
ALTER TABLE [dbo].[CT_PhieuTra]  WITH CHECK ADD  CONSTRAINT [FK__CT_PhieuT__MaPhi__09A971A2] FOREIGN KEY([MaPhieuTra])
REFERENCES [dbo].[PhieuTra] ([MaPhieuTra])
GO
ALTER TABLE [dbo].[CT_PhieuTra] CHECK CONSTRAINT [FK__CT_PhieuT__MaPhi__09A971A2]
GO
ALTER TABLE [dbo].[DoiGia]  WITH CHECK ADD  CONSTRAINT [FK_DoiGia_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DoiGia] CHECK CONSTRAINT [FK_DoiGia_NhanVien]
GO
ALTER TABLE [dbo].[DoiGia]  WITH CHECK ADD  CONSTRAINT [FK_DoiGia_XeMay] FOREIGN KEY([MaXeMay])
REFERENCES [dbo].[XeMay] ([MaXeMay])
GO
ALTER TABLE [dbo].[DoiGia] CHECK CONSTRAINT [FK_DoiGia_XeMay]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK__DonDatHan__MaNha__36B12243] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK__DonDatHan__MaNha__36B12243]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK__DonDatHan__MaNha__37A5467C] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK__DonDatHan__MaNha__37A5467C]
GO
ALTER TABLE [dbo].[DotKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK__DotKhuyen__MaNha__1CBC4616] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DotKhuyenMai] CHECK CONSTRAINT [FK__DotKhuyen__MaNha__1CBC4616]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__SoHoaDon__7F2BE32F] FOREIGN KEY([SoHoaDon])
REFERENCES [dbo].[PhieuDat] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__SoHoaDon__7F2BE32F]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_TaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[PhieuBaoHanh]  WITH CHECK ADD FOREIGN KEY([MaPhieuBaoHanh])
REFERENCES [dbo].[CT_PhieuDat] ([MaCT_PhieuDat])
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [FK_PhieuDat_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [FK_PhieuDat_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_MaPhieuNhap] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[DonDatHang] ([MaDonDatHang])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_MaPhieuNhap]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuTra]  WITH CHECK ADD  CONSTRAINT [FK__PhieuTra__MaNhan__06CD04F7] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuTra] CHECK CONSTRAINT [FK__PhieuTra__MaNhan__06CD04F7]
GO
ALTER TABLE [dbo].[XeMay]  WITH CHECK ADD  CONSTRAINT [FK__XeMay__MaHang__2D27B809] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangXeMay] ([MaHang])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[XeMay] CHECK CONSTRAINT [FK__XeMay__MaHang__2D27B809]
GO
ALTER TABLE [dbo].[XeMay]  WITH CHECK ADD  CONSTRAINT [FK__XeMay__MaLoai__2C3393D0] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiXeMay] ([MaLoai])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[XeMay] CHECK CONSTRAINT [FK__XeMay__MaLoai__2C3393D0]
GO
ALTER TABLE [dbo].[XeMay]  WITH CHECK ADD  CONSTRAINT [FK__XeMay__MaNhaCun__2E1BDC42] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[XeMay] CHECK CONSTRAINT [FK__XeMay__MaNhaCun__2E1BDC42]
GO
ALTER TABLE [dbo].[XeMay]  WITH CHECK ADD  CONSTRAINT [FK_XeMay_TrangThai] FOREIGN KEY([MaTrangThai])
REFERENCES [dbo].[TrangThai] ([MaTrangThai])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[XeMay] CHECK CONSTRAINT [FK_XeMay_TrangThai]
GO
ALTER TABLE [dbo].[CT_DonDatHang]  WITH CHECK ADD  CONSTRAINT [CK__CT_DonDat__DonGi__412EB0B6] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CT_DonDatHang] CHECK CONSTRAINT [CK__CT_DonDat__DonGi__412EB0B6]
GO
ALTER TABLE [dbo].[CT_DonDatHang]  WITH CHECK ADD  CONSTRAINT [CK__CT_DonDat__SoLuo__403A8C7D] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CT_DonDatHang] CHECK CONSTRAINT [CK__CT_DonDat__SoLuo__403A8C7D]
GO
ALTER TABLE [dbo].[CT_PhieuDat]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CT_PhieuDat]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CT_PhieuNhap]  WITH CHECK ADD  CONSTRAINT [CK__CT_PhieuN__DonGi__6477ECF3] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CT_PhieuNhap] CHECK CONSTRAINT [CK__CT_PhieuN__DonGi__6477ECF3]
GO
ALTER TABLE [dbo].[CT_PhieuNhap]  WITH CHECK ADD  CONSTRAINT [CK__CT_PhieuN__SoLuo__6383C8BA] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CT_PhieuNhap] CHECK CONSTRAINT [CK__CT_PhieuN__SoLuo__6383C8BA]
GO
ALTER TABLE [dbo].[CT_PhieuTra]  WITH CHECK ADD CHECK  (([soluong]>(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_GioiTinh] CHECK  (([GioiTinh]=N'Nam' OR [GioiTinh]=N'Nữ'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_GioiTinh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK__NhanVien__GioiTi__32E0915F] CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK__NhanVien__GioiTi__32E0915F]
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [CK_TrangThai] CHECK  (([TrangThai]='CD' OR [TrangThai]='DD' OR [TrangThai]='DH' OR [TrangThai]='DG'))
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [CK_TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_Role] CHECK  (([Nhom]='nhanvien' OR [Nhom]='khachhang' OR [Nhom]='quantri'))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_Role]
GO
ALTER TABLE [dbo].[XeMay]  WITH CHECK ADD  CONSTRAINT [CK__XeMay__Gia__276EDEB3] CHECK  (([Gia]>=(0)))
GO
ALTER TABLE [dbo].[XeMay] CHECK CONSTRAINT [CK__XeMay__Gia__276EDEB3]
GO
ALTER TABLE [dbo].[XeMay]  WITH CHECK ADD  CONSTRAINT [CK__XeMay__SoLuongT__286302EC] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[XeMay] CHECK CONSTRAINT [CK__XeMay__SoLuongT__286302EC]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPNHAT_XEMAY]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAPNHAT_XEMAY] 
	@MAXEMAY NVARCHAR(10), 
	@TENXEMAY NVARCHAR(50), 
	@GIA MONEY, 
	@MOTA NTEXT, 
	@HINHANH NVARCHAR(128),
	@MALOAI NVARCHAR(10), 
	@MAHANG NVARCHAR(10) 
AS
BEGIN
	UPDATE XeMay
	SET TenXeMay = @TENXEMAY, Gia = @GIA, MoTa = @MOTA, HinhAnh = @HINHANH, MaLoai = @MALOAI, MaHang = @MAHANG
	WHERE MaXeMay = @MAXEMAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_HAS_FULLBACKUP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_HAS_FULLBACKUP]
AS
BEGIN
	IF NOT EXISTS (SELECT * FROM FN_GET_BACKUP_HISTORY() WHERE LOAI = 'Full')
		RAISERROR(N'Hiện chưa có bản Full Backup gần nhất', 16, 1)
	ELSE SELECT 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGKY_KHACHHANG]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGKY_KHACHHANG] @TAIKHOAN NVARCHAR(20), @MATKHAU NVARCHAR(20), @CMND NVARCHAR(10), @HO NVARCHAR(40), @TEN NVARCHAR(10), @GIOITINH NVARCHAR(3), @NGAYSINH DATE, @DIACHI NVARCHAR(128), @SDT NVARCHAR(10), @EMAIL NVARCHAR(128), @MASOTHUE NVARCHAR(20)
AS
BEGIN
	IF EXISTS(SELECT TaiKhoan FROM TaiKhoan WHERE TaiKhoan = @TAIKHOAN)
		RAISERROR('Tài khoản đã tồn tại, vui lòng chọn tài khoản khác', 16, 1);
	ELSE IF EXISTS(SELECT MaKhachHang FROM KhachHang WHERE CMND = @CMND)
		RAISERROR('CMND đã tồn tại', 16, 1);
	ELSE IF EXISTS(SELECT MaKhachHang FROM KhachHang WHERE SDT = @SDT)
		RAISERROR('Số điện thoại đã tồn tại', 16, 1);
	ELSE
	BEGIN
		BEGIN TRAN
			INSERT INTO TaiKhoan(TaiKhoan, MatKhau, Nhom) VALUES(@TAIKHOAN, @MATKHAU, 'khachhang')
			INSERT INTO KhachHang(CMND, Ho, Ten, GioiTinh, NgaySinh, DiaChi, SDT, Email, MaSoThue, TaiKhoan)
			VALUES(@CMND, @HO, @TEN, @GIOITINH, @NGAYSINH, @DIACHI, @SDT, @EMAIL, @MASOTHUE, @TAIKHOAN)
		COMMIT TRAN
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP] @TAIKHOAN NVARCHAR(20), @MATKHAU NVARCHAR(20) AS
BEGIN
	IF EXISTS(SELECT TaiKhoan FROM TaiKhoan WHERE TaiKhoan = @TAIKHOAN AND MatKhau = @MATKHAU)
	BEGIN
		DECLARE @NHOM NVARCHAR(10)
		SELECT @NHOM = Nhom
		FROM TaiKhoan
		WHERE TaiKhoan = @TAIKHOAN AND MatKhau = @MATKHAU
		
		IF(@NHOM = 'nhanvien' OR @NHOM = 'quantri')
		BEGIN
			SELECT ID = MaNhanVien, Nhom, HoTen = Ho + ' ' + Ten, TaiKhoan.TaiKhoan, SDT, DiaChi
			FROM TaiKhoan
			INNER JOIN NhanVien
			ON TaiKhoan.TaiKhoan = NhanVien.TaiKhoan
			WHERE TaiKhoan.TaiKhoan = @TAIKHOAN AND TaiKhoan.MatKhau = @MATKHAU 
		END
		ELSE
		BEGIN
			SELECT ID = MaKhachHang, Nhom, HoTen = Ho + ' ' + Ten, TaiKhoan.TaiKhoan, SDT, DiaChi
			FROM TaiKhoan
			INNER JOIN KhachHang
			ON TaiKhoan.TaiKhoan = KhachHang.TaiKhoan
			WHERE TaiKhoan.TaiKhoan = @TAIKHOAN AND TaiKhoan.MatKhau = @MATKHAU 
		END
	END
	ELSE
		RAISERROR('Tài khoản hoặc mật khẩu không chính xác', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DIFF_BACKUP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DIFF_BACKUP] @DISKPATH VARCHAR(255)
AS
BEGIN
	BACKUP DATABASE BanXeMay to disk = @DISKPATH WITH INIT,DIFFERENTIAL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DOI_MATKHAU]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DOI_MATKHAU] @TAIKHOAN NVARCHAR(20), @MATKHAUCU NVARCHAR(20), @MATKHAUMOI NVARCHAR(20) AS
BEGIN
	IF NOT EXISTS(SELECT TaiKhoan FROM TaiKhoan WHERE TaiKhoan = @TAIKHOAN AND MatKhau = @MATKHAUCU)
		RAISERROR('Mật khẩu cũ không chính xác', 16, 1);
	ELSE
		UPDATE TaiKhoan
		SET MatKhau = @MATKHAUMOI
		WHERE TaiKhoan = @TAIKHOAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FULLBACKUP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_FULLBACKUP] @DISKPATH VARCHAR(255)
AS
BEGIN
	BACKUP DATABASE BanXeMay to disk = @DISKPATH WITH INIT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_1_CT_DONDATHANG]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_1_CT_DONDATHANG] @MADONDATHANG NVARCHAR(20), @MAXEMAY NVARCHAR(10) AS
BEGIN
	DECLARE @SLDANHAP INT
	IF EXISTS(SELECT SoLuong FROM CT_PhieuNhap WHERE MaPhieuNhap = @MADONDATHANG AND MaXeMay = @MAXEMAY)
		SELECT @SLDANHAP = SUM(SoLuong) FROM CT_PhieuNhap WHERE MaPhieuNhap = @MADONDATHANG AND MaXeMay = @MAXEMAY
	ELSE
		SET @SLDANHAP = 0
	SELECT SoLuong = SoLuong - @SLDANHAP, DonGia
	FROM CT_DonDatHang
	WHERE MaDonDatHang = @MADONDATHANG AND MaXeMay = @MAXEMAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CT_DONDATHANG]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_CT_DONDATHANG] @MADONDATHANG NVARCHAR(20) AS
BEGIN
	SELECT MaDonDatHang, MaXeMay, SoLuong, DonGia
	FROM CT_DonDatHang
	WHERE MaDonDatHang = @MADONDATHANG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CT_PHIEUNHAP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_CT_PHIEUNHAP] @MAPHIEUNHAP NVARCHAR(20)
AS
BEGIN
	SELECT MaPhieuNhap, MaXeMay, DonGia, SoLuong
	FROM CT_PhieuNhap
	WHERE MaPhieuNhap = @MAPHIEUNHAP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DONDATHANG]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_DONDATHANG] AS
BEGIN
	SELECT MaDonDatHang, NgayDatHang, MaNhanVien, 
		NhaCungCap = (SELECT TenNhaCungCap FROM NhaCungCap WHERE NhaCungCap.MaNhaCungCap = DonDatHang.MaNhaCungCap),
		DaNhapHang = IIF(EXISTS(SELECT MaPhieuNhap FROM PhieuNhap WHERE MaPhieuNhap = MaDonDatHang), 1, 0)
	FROM DonDatHang
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_THONG_TIN_KH]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_THONG_TIN_KH]
@MaKhachHang INT
AS
BEGIN
	SELECT HOTEN = HO + ' ' + Ten, SDT, DiaChi FROM KhachHang WHERE MaKhachHang = @MaKhachHang
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_XEMAY]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_XEMAY] AS
BEGIN
	SELECT MaXeMay, TenXeMay, Gia, SoLuongTon, MoTa, HinhAnh, 
		TrangThai = (SELECT TrangThai FROM TrangThai WHERE TrangThai.MaTrangThai = XeMay.MaTrangThai),
		Loai = (SELECT TenLoai FROM LoaiXeMay WHERE LoaiXeMay.MaLoai = XeMay.MaLoai),
		Hang = (SELECT TenHang FROM HangXeMay WHERE HangXeMay.MaHang = XeMay.MaHang),
		NhaCungCap = (SELECT TenNhaCungCap FROM NhaCungCap WHERE NhaCungCap.MaNhaCungCap = XeMay.MaNhaCungCap)
	FROM XeMay
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_XEMAY_KH]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_XEMAY_KH] AS
BEGIN
	SELECT MaXeMay, TenXeMay, Gia, SoLuongTon, MoTa, HinhAnh, 
		TrangThai = (SELECT TrangThai FROM TrangThai WHERE TrangThai.MaTrangThai = XeMay.MaTrangThai),
		Loai = (SELECT TenLoai FROM LoaiXeMay WHERE LoaiXeMay.MaLoai = XeMay.MaLoai),
		Hang = (SELECT TenHang FROM HangXeMay WHERE HangXeMay.MaHang = XeMay.MaHang),
		NhaCungCap = (SELECT TenNhaCungCap FROM NhaCungCap WHERE NhaCungCap.MaNhaCungCap = XeMay.MaNhaCungCap)
	FROM XeMay 
	WHERE XeMay.MaTrangThai != 'NKD' 
	ORDER BY TrangThai
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOG_BACKUP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOG_BACKUP] @DISKPATH VARCHAR(255)
AS
BEGIN
	BACKUP LOG BanXeMay to disk = @DISKPATH WITH INIT, NO_TRUNCATE
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NGUNGKINHDOANH_XEMAY]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NGUNGKINHDOANH_XEMAY] @MAXEMAY NVARCHAR(20) AS
BEGIN
	UPDATE XeMay
	SET MaTrangThai = 'NKD'
	WHERE MaXeMay = @MAXEMAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_CT_DONDATHANG]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SUA_CT_DONDATHANG] @MADONDATHANG NVARCHAR(20), @MAXEMAY NVARCHAR(10), @SOLUONG INT, @DONGIA MONEY AS
BEGIN
	UPDATE CT_DonDatHang
	SET SoLuong = @SOLUONG, DonGia = @DONGIA
	WHERE MaDonDatHang = @MADONDATHANG AND MaXeMay = @MAXEMAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_CT_PHIEUNHAP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SUA_CT_PHIEUNHAP] @MAPHIEUNHAP NVARCHAR(20), @MAXEMAY NVARCHAR(10), @DONGIA MONEY, @SOLUONG INT AS
BEGIN
	IF @SOLUONG > (SELECT SoLuong FROM CT_PhieuNhap WHERE MaPhieuNhap = @MAPHIEUNHAP AND MaXeMay = @MAXEMAY) -- Sửa TĂNG số lượng nhập hàng
		UPDATE CT_PhieuNhap
		SET SoLuong = @SOLUONG, DonGia = @DONGIA
		WHERE MaPhieuNhap = @MAPHIEUNHAP AND MaXeMay = @MAXEMAY
	ELSE
	BEGIN
		DECLARE @SLTON INT
		SELECT @SLTON = SoLuongTon FROM XeMay WHERE MaXeMay = @MAXEMAY
		IF @SOLUONG - (SELECT SoLuong FROM CT_PhieuNhap WHERE MaPhieuNhap = @MAPHIEUNHAP AND MaXeMay = @MAXEMAY) > @SLTON
			RAISERROR('Số lượng tồn của sản phẩm này hiện không đủ để giảm số lượng nhập', 16, 1);
		ELSE
			UPDATE CT_PhieuNhap
			SET SoLuong = @SOLUONG, DonGia = @DONGIA
			WHERE MaPhieuNhap = @MAPHIEUNHAP AND MaXeMay = @MAXEMAY
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_CT_DONDATHANG]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_CT_DONDATHANG] @MADONDATHANG NVARCHAR(20), @MAXEMAY NVARCHAR(10), @SOLUONG INT, @DONGIA MONEY AS
BEGIN
	INSERT INTO CT_DonDatHang(MaDonDatHang, MaXeMay, SoLuong, DonGia)
	VALUES(@MADONDATHANG, @MAXEMAY, @SOLUONG, @DONGIA)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_CT_PHIEU_DAT]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_CT_PHIEU_DAT]
@MaPhieuDat INT,
@MaXeMay NVARCHAR(10),
@SoLuong INT,
@DonGia MONEY
AS
BEGIN
	INSERT INTO CT_PhieuDat (MaPhieuDat, MaXeMay, SoLuong, DonGia)
	VALUES (@MaPhieuDat, @MaXeMay, @SoLuong, @DonGia)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_CT_PHIEUNHAP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_CT_PHIEUNHAP] @MAPHIEUNHAP NVARCHAR(20), @MAXEMAY NVARCHAR(10), @DONGIA MONEY, @SOLUONG INT AS
BEGIN
	IF EXISTS(SELECT MaPhieuNhap FROM CT_PhieuNhap WHERE MaPhieuNhap = @MAPHIEUNHAP AND MaXeMay = @MAXEMAY AND DonGia = @DONGIA)
		RAISERROR('Không thể thêm chi tiết bởi vì chi tiết nhập hàng đồng hồ với đơn giá này đã tồn tại', 16, 1);
	ELSE
	BEGIN
		INSERT CT_PhieuNhap(MaPhieuNhap, MaXeMay, DonGia, SoLuong)
		VALUES(@MAPHIEUNHAP, @MAXEMAY, @DONGIA, @SOLUONG)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_DONDATHANG]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_DONDATHANG] @MADONDATHANG NVARCHAR(20), @MANHANVIEN INT, @MANHACUNGCAP NVARCHAR(10) AS
BEGIN
	IF EXISTS(SELECT MaDonDatHang FROM DonDatHang WHERE MaDonDatHang = @MADONDATHANG)
		RAISERROR('Mã đơn đặt hàng đã tồn tại', 16, 1);
	ELSE
		INSERT INTO DonDatHang(MaDonDatHang, NgayDatHang, MaNhanVien, MaNhaCungCap)
		VALUES(@MADONDATHANG, GETDATE(), @MANHANVIEN, @MANHACUNGCAP)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NHANVIEN]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_NHANVIEN] @HO NVARCHAR(40), @TEN NVARCHAR(10), @GIOITINH NVARCHAR(3), @NGAYSINH DATE, @DIACHI NVARCHAR(128), @SDT NVARCHAR(10), @EMAIL NVARCHAR(128), @TAIKHOAN NVARCHAR(20)
AS
BEGIN
	IF EXISTS(SELECT TaiKhoan FROM TaiKhoan WHERE TaiKhoan = @TAIKHOAN)
		RAISERROR('Tài khoản đã tồn tại, hãy thử tài khoản khác', 16, 1);
	ELSE
	BEGIN
		BEGIN TRAN
			INSERT INTO TaiKhoan(TaiKhoan, MatKhau, Nhom)
			VALUES(@TAIKHOAN, '123456', 'nhanvien')
			INSERT INTO NhanVien(Ho, Ten, GioiTinh, NgaySinh, DiaChi, SDT, Email, TaiKhoan) OUTPUT inserted.MaNhanVien
			VALUES(@HO, @TEN, @GIOITINH, @NGAYSINH, @DIACHI, @SDT, @EMAIL, @TAIKHOAN)
		COMMIT TRAN
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_PHIEU_DAT]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_PHIEU_DAT]
@HoTenNN NVARCHAR(50),
@DiaChiNN NVARCHAR(128),
@SDTNN NVARCHAR(10),
@MaKhachHang INT
AS
BEGIN
	INSERT INTO PhieuDat (NgayDat, HoTenNN, DiaChiNN, SDTNN, NgayGioGiaoHang, TrangThai, MaKhachHang, MaNhanVien)
	OUTPUT inserted.MaPhieuDat
	VALUES (GETDATE(), @HoTenNN, @DiaChiNN, @SDTNN, NULL, 'DD', @MaKhachHang, 4)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_PHIEUNHAP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_PHIEUNHAP] @MAPHIEUNHAP NVARCHAR(20), @MANHANVIEN INT AS
BEGIN
	INSERT PhieuNhap(MaPhieuNhap, NgayNhap, MaNhanVien)
	VALUES(@MAPHIEUNHAP, GETDATE(), @MANHANVIEN)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_XEMAY]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_XEMAY] @MAXEMAY NVARCHAR(10), @TENXEMAY NVARCHAR(50), @GIA MONEY, @SOLUONGTON INT, @MOTA NTEXT, @HINHANH NVARCHAR(128), @MATRANGTHAI NVARCHAR(5), @MALOAI NVARCHAR(10), @MAHANG NVARCHAR(10), @MANHACUNGCAP NVARCHAR(10) AS
BEGIN
	INSERT INTO XeMay(MaXeMay, TenXeMay, Gia, SoLuongTon, MoTa, HinhAnh, MaTrangThai, MaLoai, MaHang, MaNhaCungCap)
	VALUES(@MAXEMAY, @TENXEMAY, @GIA, @SOLUONGTON, @MOTA, @HINHANH, @MATRANGTHAI, @MALOAI, @MAHANG, @MANHACUNGCAP)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_DH]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_DH]
@MaLoai NVARCHAR(10),
@MaNhaCungCap NVARCHAR(10),
@MaHang NVARCHAR(10)
AS
BEGIN
SELECT MaXeMay, TenXeMay, Gia, SoLuongTon, MoTa, HinhAnh, 
		TrangThai = (SELECT TrangThai FROM TrangThai WHERE TrangThai.MaTrangThai = XeMay.MaTrangThai),
		Loai = (SELECT TenLoai FROM LoaiXeMay WHERE MaLoai = @MaLoai),
		Hang = (SELECT TenHang FROM HangXeMay WHERE MaHang = @MaHang),
		NhaCungCap = (SELECT TenNhaCungCap FROM NhaCungCap WHERE MaNhaCungCap = @MaNhaCungCap)
	FROM XeMay WHERE MaLoai = @MaLoai AND MaHang = @MaHang AND MaNhaCungCap = @MaNhaCungCap AND XeMay.MaTrangThai != 'NKD'
	ORDER BY TrangThai
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_CT_DONDATHANG]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_CT_DONDATHANG] @MADONDATHANG NVARCHAR(20), @MAXEMAY NVARCHAR(10) AS
BEGIN
	DELETE CT_DonDatHang
	WHERE MaDonDatHang = @MADONDATHANG AND MaXeMay = @MAXEMAY
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_CT_PHIEUNHAP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_CT_PHIEUNHAP] @MAPHIEUNHAP NVARCHAR(20), @MAXEMAY NVARCHAR(10), @DONGIA MONEY, @SOLUONG INT AS
BEGIN
	IF (SELECT SoLuongTon FROM XeMay WHERE MaXeMay = @MAXEMAY) - @SOLUONG < 0
		RAISERROR('Không thể xóa chi tiết phiếu nhập này do số lượng tồn sản phẩm trong kho không đủ', 16, 1);
	ELSE
		DELETE CT_PhieuNhap
		WHERE MaPhieuNhap = @MAPHIEUNHAP AND MaXeMay = @MAXEMAY AND DonGia = @DONGIA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_DONDATHANG]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_DONDATHANG] @MADONDATHANG NVARCHAR(20) AS
BEGIN
	IF EXISTS(SELECT MaPhieuNhap FROM PhieuNhap WHERE MaPhieuNhap = @MADONDATHANG)
		RAISERROR('Không thể xóa đơn đặt hàng đã nhập hàng', 16, 1);
	ELSE
	BEGIN
		BEGIN TRAN
			DELETE CT_DonDatHang WHERE MaDonDatHang = @MADONDATHANG
			DELETE DonDatHang WHERE MaDonDatHang = @MADONDATHANG
		COMMIT TRAN
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_PHIEUNHAP]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_PHIEUNHAP] @MAPHIEUNHAP NVARCHAR(20) AS
BEGIN
	DELETE PhieuNhap
	WHERE MaPhieuNhap = @MAPHIEUNHAP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_XEMAY]    Script Date: 6/1/2023 03:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_XEMAY] @MAXEMAY NVARCHAR(10) AS
BEGIN
	IF
	EXISTS(SELECT MaPhieuNhap FROM CT_PhieuNhap WHERE MaXeMay = @MAXEMAY) OR
	EXISTS(SELECT MaDonDatHang FROM CT_DonDatHang WHERE MaXeMay = @MAXEMAY) OR
	EXISTS(SELECT MaDotKM FROM ApDungKM WHERE MaXeMay = @MAXEMAY) OR
	EXISTS(SELECT MaXeMay FROM DoiGia WHERE MaXeMay = @MAXEMAY) OR
	EXISTS(SELECT MaPhieuDat FROM CT_PhieuDat WHERE MaXeMay = @MAXEMAY)
		RAISERROR('Xe máy đã được sử dụng nên không thể xóa.', 16, 1);
	ELSE
		DELETE XeMay
		WHERE MaXeMay = @MAXEMAY
END
GO
